# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-electron
dist-ssr
*.local

__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

.tauri/*

resources.pri


# Verso executables
src-tauri/versoview

target/
AppxContent
AppxBundles
electron/runtime-config.generated.json
packages/quadrant-node/index.js
packages/quadrant-node/index.d.ts
packages/quadrant-node/native/
