[Desktop Entry]
Type=Application
Exec=quadrant %u
Terminal=false
Categories=Utility;
Name=Quadrant (Formerly Minecraft Modpack Manager)
Icon=dev.mrquantumoff.mcmodpackmanager
MimeType=x-scheme-handler/curseforge;
MimeType=x-scheme-handler/mcmodpackmanager;