[Desktop Entry]
Type=Application
Exec=mcmodpackmanager_reborn
Terminal=false
Categories=Utility;
Name=Minecraft Modpack Manager Reborn
Icon=dev.mrquantumoff.mcmodpackmanager
MimeType=x-scheme-handler/curseforge;