[Desktop Entry]
Type=Application
Exec={{exec}} --noupdater %u
Terminal=false
Categories=Utility;
Name={{name}}
Icon={{icon}}
MimeType=x-scheme-handler/curseforge;x-scheme-handler/quadrantnext;x-scheme-handler/modrinth;
